---
layout: default
title: Clases
---

<div class="posts">
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2013/12/28/introducing-hyde/">
        Clases Primer Parcial
      </a>
    </h1>

    <span class="post-date">28 Dec 2013</span>

    <p>En el primer parcial, se aprendió lo siguiente:</p>

<p><strong>Lenguaje Y Comunicación (Elsy Rodriguez)</strong>:</p>
<ul>
  <li>Se desarrolló el pensamiento crítico de cada estudiante, por medio de varios talleres. Cada semana se trabajó esto por medio de diferentes artículos.</li>
  <li>Uso correcto de la C, S, Z y uso de la H. Usos correctos de los signos de puntuación.</li>
  <li>Diferentes tipos de texto, enfocado principalmente en el argumentativo.</li>
  <li>Trabajos de exposición con artículos de manera analítica.</li>
</ul>

<p><strong>Estructuras Discretas (Leili Lopezdominguez)</strong>:</p>
<ul>
  <li><strong>Lógica Matemática:</strong> Negación, conjunción, disyunción. Se practicaron varios ejercicios de este tema.</li>
  <li><strong>Conjuntos:</strong> Diagramas de Venn, conjunto referencial, conjunto potencia, conectores de conjuntos. Se practicaron varios ejercicios de este tema.</li>
  <li><strong>Técnicas de Conteo:</strong> Teorema de multiplicidad, permutaciones y combinaciones. Se practicaron varios ejercicios de este tema.</li>
</ul>

<p><strong>Algebra Lineal (Belkis Cañizales)</strong>:</p>
<ul>
  <li><strong>Sistemas de Ecuaciones Lineales(SEL)</strong>: Definición de un SEL, definir su gráfica, despejar por medio del metodo de eliminación y sustitución. Se trabajaron varios ejercicios en clase.</li>
  <li><strong>Matrices</strong>: Definición de matrices,  clasificación de matrices, matriz transpuesta, matriz adyacente, matriz inversa, como sacar determinante de matrices. Se trabajaron varios ejercicios en clase.</li>
</ul>

<p><strong>Cálculo Diferencial (Oscar León)</strong>:</p>
<ul>
  <li><strong>Funciones</strong>: Gráfica de funciones, función par e impar, funciones trigonométricas, funciones exponenciales, funciones algebraicas.</li>
  <li><strong>Limites</strong>: Limites, limites al infinito, limites cuando tienden a 0, indeterminaciones.</li>
  <li><strong>Derivada a 4 pasos</strong>: Como derivar por medio de 4 pasos.</li>
</ul>

<p><strong>Álgoritmo Y Lógica de Programación (Jenny Ortiz)</strong>:</p>
<ul>
  <li><strong>Introducción</strong>: Que es un algoritmo, que es pseudocódigo, que es un diagrama de flujo, codificación en lenguaje C++, uso de “If”-</li>
  <li><strong>Repetición</strong>: Uso de “For”, uso de “While”, uso de “Switch”.</li>
</ul>

  </div>
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2012/02/07/example-content/">
        Clases De Introducción.
      </a>
    </h1>

    <span class="post-date">07 Feb 2012</span>

    <h3 id="unidad-1-introducción-a-la-ingeniería-de-software">Unidad 1: Introducción a la Ingeniería de Software:</h3>

<ul>
  <li><strong>Fritz Bauer, 1969:</strong> Más que una disciplina o una parte del conocimiento, la Ingeniería es un verbo, una palabra de acción, un modo de enfocar el problema.</li>
</ul>

<h3 id="definición-de-ingeniería-de-software">Definición de Ingeniería de Software.</h3>

<p>La ingeniería de software es una aplicación práctica del conocimiento científico para proveer metodologías y técnicas que ayuden a desarrollar sistemas de software a tiempo, y a su vez que aseguren que el desarrollador cumpla con las expectativas de calidad y permanezca dentro del presupuesto.</p>

<h3 id="objetivos-de-la-is">Objetivos de la IS</h3>
<ul>
  <li>Diseñar programas informáticos que se adecúen a las exigencias de la sociedad.</li>
  <li>Liderar y acoplar el desarrollo de programaciones complicadas.</li>
  <li>Actuar en todas las fases del ciclo de vida de un producto.</li>
  <li>Computar los costos de un proyecto y evaluar los tiempos de desarrollo.</li>
  <li>Realizar el seguimiento de costes y plazos.</li>
  <li>Liderar equipos de trabajo de desarrollo software.</li>
</ul>

<h3 id="origen-de-is">Origen de IS</h3>
<p>Ingeniería del Software, es el término utilizado por Fritz Bauer en la primera conferencia sobre desarrollo de software patrocinada por el Comité de Ciencia de la OTAN celebrada en Garmisch (Alemania), en octubre de 1968, previamente había sido utilizado por el holandés Edsger Dijkstra en su obra The Humble Programmer.</p>

<h3 id="la-evolución-del-software">La evolución del software</h3>
<ul>
  <li>El término <em>evolución del software</em> se utiliza desde los sesenta para denominar la dinámica de crecimiento del software.</li>
  <li>Una definición atribuida a Lehman y Ramil dice que la evolución del software es <em>todas las actividades de programación que se orientan a generar una nueva versión de un software a partir de una versión anterior operativa</em>.</li>
</ul>

<h3 id="la-crisis-del-software">La crisis del software</h3>
<ul>
  <li>La palabra <em>crisis</em> se define en el diccionario como <em>un punto decisivo en el curso de algo; momento, etapa, o evento decisivo o crucial</em>. Sin embargo para el software no ha habido ningún punto crucial, sólo una lenta evolución.</li>
  <li>La crisis en la industria del software permanece durante muchos años, lo cual parece una contradicción para el término. Lo que si se podría decir es que hay un problema crónico en el desarrollo de software.</li>
</ul>

<h3 id="por-qué-se-crea-la-is">¿Por qué se crea la IS?</h3>
<p>La ingeniería de software se crea debido a las siguientes características:</p>
<ul>
  <li>El producto debe ser confiable y realizar sólo las tareas especificadas en los requerimientos.</li>
  <li>El producto debe ser robusto. Esto quiere decir que el software se comporta de manera razonable, incluso en circunstancias no anticipadas desde el principio.</li>
  <li>El producto de software debe ser lo más reutilizable posible, de manera tal que pueda ser incorporado en otro producto de software si se requiere.</li>
  <li>El producto de software debe ser eficiente en el uso de los recursos del sistema.</li>
</ul>

<h3 id="el-software-en-la-actualidad">El software en la actualidad</h3>
<p>Las direcciones en las que evoluciona la ingeniería del software hoy en día pueden agruparse de la siguiente manera:</p>
<ul>
  <li>Metodologías ágiles</li>
  <li>Experimentación</li>
  <li>Desarrollo dirigido por modelos</li>
  <li>Líneas de productos software</li>
</ul>

<h3 id="proceso-de-ingenieria-de-software">Proceso de Ingenieria de Software</h3>
<p>Un sistema de información es un conjunto de elementos interrelacionados con el propósito de prestar atención a las demandas de información de una organización, para elevar el nivel de conocimientos que permitan un mejor apoyo a la toma de decisiones y desarrollo de acciones (Peña, 2006).</p>

<h3 id="proceso-de-ingenieria-de-software-1">Proceso de Ingenieria de Software:</h3>
<h3 id="factores-de-calidad-del-software">Factores de calidad del software</h3>
<p><strong>Concepto de Calidad:</strong> Conjunto de propiedades y de características de un producto o servicio, que le confieren aptitud para satisfacer una necesidad explícita o implícita (ISO 8402).</p>

<p><strong>Calidad del Software:</strong> Es el grado con el que un sistema, componente o proceso cumple los requerimientos especificados y las necesidades o expectativas del cliente o usuario.</p>

<h3 id="métricas-del-software">Métricas del Software</h3>
<ul>
  <li>1.-<strong>Métricas técnicas:</strong> Se centran en las características del software. Aquí medimos la complejidad lógica y el grado de modularidad del sistema. Mide la estructura del sistema, el cómo está hecho.</li>
  <li>2.-<strong>Métricas de calidad:</strong> Son todas las métricas de software que definen de una u otra forma la calidad del software; tales como corrección, exactitud, integridad, facilidad de uso, enre otros.</li>
  <li>3.-<strong>Métricas de Productividad:</strong> Se centran en el rendimiento del proceso de la ingeniería del software. Es decir qué tan productivo va a ser el software que voy a diseñar. Se refiere a las características del software.</li>
  <li>4.-<strong>Métricas de costo:</strong> se centra en el costo total del sistema informático.</li>
  <li>5.-<strong>Métricas orientadas al tamaño:</strong> Esta nos permite conocer el tiempo en el que se terminará el software y cuántas personas se necesitan para su desarrollo, aquí medimos las variables con las que desarrollamos el software.</li>
  <li>6.<strong>-Métricas orientadas a la función o puntos de función:</strong> Son medidas indirectas del software y del proceso por el cual se desarrolla. En lugar de calcular las líneas de código (LDC), las métricas de función se centran en la funcionalidad o utilidad del programa. Los puntos de función nos indican la medida de la productividad.</li>
</ul>

<h3 id="problemas-en-el-desarrollo-de-software">Problemas en el desarrollo de software</h3>
<ul>
  <li>
    <p><strong>¿Qué es un proyecto software?</strong>
Un proyecto software es un esfuerzo temporal que se lleva a cabo para crear un producto software, servicio TI o resultado único.</p>
  </li>
  <li>
    <p><strong>¿Pero que es el software?</strong>
Según la definición del IEEE, “software es la suma total de los programas de ordenador, procedimientos, reglas, la documentación asociada y los datos que pertenecen a un sistema de cómputo”, y “un producto de software es un producto diseñado para un usuario”.</p>
  </li>
  <li><strong>El software puede dividirse en dos grandes categorías:</strong></li>
  <li>Software de aplicaciones</li>
  <li>Software de sistemas</li>
</ul>

<h3 id="ingeniería-del-software">Ingeniería del software</h3>
<p>La Ingeniería del Software es la rama de la ingeniería que crea y mantiene las aplicaciones de software usando tecnologías y prácticas de las ciencias de la computación, manejo de proyectos, ingeniería, el ámbito de la aplicación, y otros campos.</p>

<h3 id="código-de-ética-acmieee">Código de ética (ACM/IEEE)</h3>
<p><strong>Principios del código</strong></p>
<ul>
  <li>Público</li>
  <li>Cliente y Empleador</li>
  <li>Producto</li>
  <li>Juicio</li>
  <li>Gerencia</li>
  <li>Profesión</li>
  <li>Colegas</li>
  <li>Interés Propio</li>
</ul>

<h3 id="sistemas-de-información">Sistemas de Información:</h3>

<p>Un sistema de información es un conjunto de elementos interrelacionados con el propósito de <em>prestar atención a las demandas de información de una organización</em>, <em>para elevar el nivel de conocimientos que permitan un mejor apoyo a la toma de decisiones y desarrollo de acciones</em> (Peña, 2006).</p>

<p><strong>Un sistema de información realiza cuatro actividades básicas:</strong></p>
<ul>
  <li>Entrada de información</li>
  <li>Almacenamiento de información</li>
  <li>Procesamiento de información</li>
  <li>Salida de información</li>
</ul>

<h3 id="tipos-de-sistemas-de-información">Tipos de sistemas de información</h3>
<p>Los sistemas de información, de manera general se pueden clasificar de tres formas según sus propósitos generales, en este sentido Peralta (2008) clasifica los sistemas de información en tres tipos fundamentales:</p>
<ul>
  <li>1.-*Sistemas transaccionales</li>
  <li>2.-*Sistemas de Soporte a la Toma de Decisiones, Sistemas</li>
  <li>3.-*Sistemas estratégicos</li>
</ul>

<h3 id="elementos-de-un-sistema-de-información">Elementos de un sistema de información</h3>
<ul>
  <li>Financieros</li>
  <li>Administrativos</li>
  <li>Humanos</li>
  <li>Materiales</li>
  <li>Tecnológicos</li>
</ul>

<p>Otro autor desconocido (s/a, 2008b), un sistema de información está compuesto por 6 elementos:</p>
<ul>
  <li>Base de Datos</li>
  <li>Transacciones</li>
  <li>Informes</li>
  <li>Procesos</li>
  <li>Usuario</li>
  <li>Procedimientos Administrativos</li>
</ul>


  </div>
  
  <div class="post">
    <h1 class="post-title">
      <a href="/2019/12/20/2012-02-06-whats-jekyll/">
        
      </a>
    </h1>

    <span class="post-date">20 Dec 2019</span>

    <p>Un conjunto estructurado de actividades necesarias para desarrollar un sistema de software. En los cuales, pese a ser diferentes, destacan 4 características que son:</p>
<ul>
  <li>Especificación</li>
  <li>Diseño e implementación</li>
  <li>Validación</li>
  <li>Evolución</li>
</ul>

<p>Además, el proceso de software se puede definir como un conjunto de actividades necesarias para transformar las ideas iniciales del usuario, que desea automatizar un determinado trabajo, en software.</p>

<h3 id="características-del-proceso-de-sw">Características del proceso de SW</h3>
<ul>
  <li>El proceso establece todas las actividades principales</li>
  <li>El proceso utiliza recursos, está sujeto a una serie de restricciones y genera productos intermedios y finales</li>
  <li>El proceso puede estar compuesto de subprocesos que se encadenan de alguna manera. Puede definirse como una jerarquía de procesos organizada de modo que cada subproceso tenga su propio modelo de proceso</li>
  <li>Cada actividad del proceso tiene criterios de entrada y de salida, de modo que se conoce cuándo comienza y cuándo termina una actividad</li>
</ul>

<h3 id="ciclo-de-vida-del-sw">Ciclo de vida del SW</h3>
<p>Suele referirse al proceso como un ciclo de vida cuando un proceso implica la construcción de algún producto.</p>
<ul>
  <li>El proceso de desarrollo de software suele denominarse ciclo de vida del software
Se puede definir ciclo de vida del software como:</li>
  <li>[Frakes et al., 1991] Las distintas fases por las que pasa el software desde que nace una necesidad de mecanizar un proceso hasta que deja de utilizarse el software que sirvió para ese objetivo, pasando por las fases de desarrollo y explotación.</li>
</ul>

<h3 id="ámbito-general-del-ciclo-de-vida-del-software">Ámbito general del ciclo de vida del Software</h3>
<p>Desde un punto de vista general puede considerarse que el ciclo de vida de un software tiene tres etapas claramente diferenciadas:</p>
<ul>
  <li>Planificación</li>
  <li>Implementación</li>
  <li>Puesta en producción</li>
</ul>

<h3 id="razones-para-modelar-un-proceso-de-software">Razones para modelar un proceso de Software</h3>
<ul>
  <li>Cuando se pone por escrito una descripción de un proceso, se da forma a una comprensión común de las actividades, recursos y restricciones relacionados con el desarrollo del software.</li>
  <li>Ayuda al equipo de desarrollo a encontrar las inconsistencias, las redundancias y las omisiones en el proceso y en las partes que lo constituyen.</li>
  <li>El modelo debe reflejar las metas del desarrollo. A medida que se construye el modelo el equipo de desarrollo evalúa las actividades candidatas por su adecuación para alcanzar dichas metas.</li>
</ul>

<h3 id="modelo-general-de-proceso-en-ingeniería">Modelo general de proceso en Ingeniería</h3>
<ul>
  <li>Especificación</li>
  <li>Diseño</li>
  <li>Fabricación</li>
  <li>Prueba</li>
  <li>Instalación</li>
  <li>Mantenimiento</li>
</ul>

<h3 id="modelos-de-procesos-de-software">Modelos de procesos de Software</h3>
<ul>
  <li>Modelo de cascada</li>
  <li>Desarrollo incremental</li>
  <li>Modelo espiral</li>
  <li>Desarrollo Rápido de Aplicaciones (DRA)</li>
  <li>Orientados a la reutilización</li>
  <li>Orientado a Objetos</li>
</ul>


  </div>
  
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
